* {
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--color-fondo: #34495e;
  }

body {
	padding:0;
	margin:0;
	color: #222;
}

h1, h2, h3, h4 {
    margin: auto;
	text-align: center;
	background-color: var(--color-fondo);
	color: white;
}

div.login {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 100%);
	text-align:center;
	min-height: 300px !important;
}

div.login input, div.login select {
	margin: auto;
	width: 200px;
}

div.login input:last-child {
	width: auto;
}

div.login i {
	position: relative;
	top: 7px;
}

div.login h3 {
	background-color: #c0392b;
	padding: 10px;
}

div.inform h3 {
	background-color: #27ae60;
}

.cookie	 {
	background-color: #f1c40f;
	width: 100%;
	/* width: 300px; */
	position: absolute;
	bottom: 25px;
}

div {
    position: absolute;
    width: 1024px;
    left: 50%;
    transform: translate(-50%, 0%);
	text-align: justify;
	min-height: 100%;
}

div div {
	position: relative;
	width: 100%;
}

div tbody {
	max-height: 300px;
	overflow: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
	margin: auto;
}

th, td {
    text-align: center;
	padding: 8px;
	/* word-wrap:break-word;
	max-width: 250px; */
}

th:last-child, td:last-child {
	text-align: right;
	max-width: 150px;
}

th:first-child, td:first-child {
	text-align: left;
}

th.derecha {
	text-align: right;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: var(--color-fondo);
    color: white;
}

tr:hover {
    background-color: cornsilk;
}	

a {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:3px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

a.enlace {
	box-shadow: none;
	background: none;
	background-color: none;
	border-radius:0;
	border:none;
}

a.enlace:hover {
	background: none;
}

td a {
	font-size:12px;
}

a:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
a:active {
	position:relative;
	top:1px;
}

a.derecha {
	margin: 10px 0;
	float: right;
}
a.logout {
	background-color:#eb5050;
	background:linear-gradient(to bottom, #f19d9d 5%, #eb5050 100%);
	box-shadow:inset 0px 1px 0px 0px #f19d9d;
	text-shadow:0px 1px 0px #f19d9d;
	color: #555;
	float: right;
	height: 20px;
	right: 0;
}

a.logout:hover {
	background:linear-gradient(to bottom, #eb5050 5%, #f19d9d 100%);
}

a.logout i {
	width: 20px;

	text-align: center;
	position: relative;
	top: -2px;
	right: 2px;
}

ul.menu {
	min-width: 696px;
	list-style: none;
	padding: 20px 0 0 0;
	}

ul.menu li {
	display: inline;
}

footer {
  background-color: var(--color-fondo);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 25px;
  color: white;
}

footer p {
	margin: auto;
}

img {
	border: 1px solid var(--color-fondo);
	border-radius: 5px;
}

form img.form {
	float: right;
}

div img.foto {
	position: absolute;;
	left: -120px;
	top: 118px;
}

span.limpia {
	clear: both;
	min-height: 20px;
	margin-bottom: 50px;
	display: block;
}

code {
	font-family: 'Courier New', Courier, monospace;
	font-size: small;
	width: 100%;
	white-space: pre-wrap;
}

pre {
	margin-top: 50px;
}