* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding:0;
	margin:0;
	color: #222;
}

h1, h2 {
    margin: auto;
	text-align: center;
	background-color: #777;
	color: white;
}

div.login {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 30%);
	text-align:center
}

div.login input {
	margin: auto 0;
}

div {
    position: absolute;
    width: 1024px;
    left: 50%;
    transform: translate(-50%, 0%);
	text-align: justify;
	min-height: 100%;
}

table {
    border-collapse: collapse;
    width: 1024px;
	margin: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #777;
    color: white;
}

tr:hover {
    background-color: cornsilk;
}	

a {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:3px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

td a {
	font-size:12px;
}

a:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
a:active {
	position:relative;
	top:1px;
}

a.derecha {
	margin: 10px 0;
	float: right;
}

ul.menu {
	min-width: 696px;
	list-style: none;
	padding: 20px 0 0 0;
	}

ul.menu li {
	display: inline;
}

footer {
  background-color: #777;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  height: 25px;
  color: white;
}

footer p {
	margin: auto;
}

img {
	border: 1px solid #777;
	border-radius: 5px;
}

form img.form {
	float: right;
}

div img.foto {
	position: absolute;;
	left: -120px;
	top: 118px;
}

span.limpia {
	clear: both;
	min-height: 20px;
	margin-bottom: 50px;
	display: block;
}